<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>
<body>
<header>
    <% include ../views/header %>
</header>
<hr>
<div class="container">
    <h1>Logs per uur</h1>

    <table class="table table-striped">
        <tr>
            <th>Uur</th>
            <th>Aantal</th>
        </tr>

        <%  var Cuur = -1;
        var aantal = 0;
        var datums = [];
        var urls = [];
        //Alle gegevens aflopen
        for(var i = 0; i < logs.length; i++) {
            //Als het een nieuw uur is nieuwe telling starten en vorige printen anders optellen.

        if (Cuur !== logs[i].uur) {
            //Starten de telling op -1 zodat 0 vanaf de 1e telt maar willen deze uiteraard niet printen.
        if (Cuur !== -1)  {
            printLijn();
        %>

        <% //Leegmaken arrays
            datums = [];
            urls = [];
        %>

        <!--Einde afdrukken extra's-->
        <%
        }
            Cuur = logs[i].uur;
            aantal = 1;
        } else {
            aantal = aantal + 1;
        }
            datums.push(logs[i].date);
            urls.push(logs[i].url);
        }
        printLijn();
        %>
    </table>
</div>
</body>

<%
function printLijn() {
%>
<tr id="<%= Cuur %>">
    <td> <%= Cuur %> </td>
    <td> <%= aantal %> </td>
</tr>

<!--Afdrukken tabel met elements maar verbergen achteraf-->
<tr class="details <%='details-'+ Cuur %>">
    <th>Date</th>
    <th>URL</th>
</tr>

<% for(var z = 0; z < aantal; z++) { %>
<tr class="details <%='details-'+ Cuur %>" >
    <td> <%= datums[z] %> </td>
    <td> <%= urls[z] %> </td>
</tr>
<% } %>
<% } %>


<script>

    //eens document geladen
    $( document ).ready(function() {
        //Alle details verbergen
        $(".details").hide();

        //Bij het klikken op een rij
        $("tr").click(function(event) {
            $(".details-"+this.id).toggle();
        });
    });
</script>

</html>